#head,
#banne,
#ys,
#ba {
    width: 1130px;
    margin: 0 auto;
}

#head {
    height: 98px;
    position: relative;
}

#head>a {
    width: 200px;
    height: 98px;
    display: inline-block;
    background: url(../img/llogo.png);
}

#banne-warp {
    width: 100%;
    height: 560px;
    position: relative;
}

#banne-warp>a {
    width: 100%;
    height: 560px;
    display: block;
    background: url(../img/bjdt.jpg) no-repeat -420px;
}

#banne {
    position: absolute;
    top: 0;
    left: 300px;
    width: 1130px;
    height: 560px;
}



#banne .rigz {
    width: 380px;
    height: 525px;
    background: #fff;
    position: absolute;
    left: 720px;
    top: 35px;
    padding-left: 30px;
}

.rigz .zhdl>a {
    font-size: 23px;
    line-height: 89px;
    display: inline-block;
    color: #ff6702;
    margin-left: 36px;

}

.rigz .smdl>a {
    font-size: 23px;
    display: inline-block;
    color: #e1e1e1;
    
}

.rigz .smdl {
    position: absolute;
    top: 30px;
    left:245px;
    
}
.rigz .smdl .smdlxs {
    display: none;
}
.rigz .smdl img{
    position: absolute;
    width: 180px;
    height: 180px;
    top: 155px;
    left: -134px;
}
.rigz .smdl p{
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    color: #e1e1e1;
    top: 355px;
    left: -114px;
}
.rigz .smdl .p2{
    top: 375px;
    left: -170px;
}

.rigz .gg {
    display: inline-block;
    font-size: 29px;
    line-height: 89px;
    color: #e1e1e1;
    position: absolute;
    top: 0;
    left:200px;
}

.rigz input {
    width: 346px;
    height: 48px;
    border: 1px solid #e0e0e0;
    margin: 5px 0 10px 0;
}

.rigz .dlzh {
    width: 346px;
    height: 52px;
    background: #ff6702;
    border: 0;
    font-size: 12px;
    line-height: 52px;
    color: #fff;
    margin-top: 15px;
}
.rigz .dlzh a{
    display: block;
    color: #fff;
}
.zhdl .wjl{
    height: 40px;
    width: 346px;
}
.zhdl .ljzc a{
    float: right;
    font-size: 12px;
    line-height: 40px;
    color: #8a8a8a;
    margin: 0 5px 0 5px;

}
.zhdl .gdg{
    float: right;
    font-size: 12px;
    line-height: 40px;
    color: #8a8a8a;
}
.zhdl .wjmm a{
    float: right;
    font-size: 12px;
    line-height: 40px;
    color: #8a8a8a; 
    margin: 0 5px 0 5px;
}
.zhdl .wjmm:hover a{
    color: #ff6702;
}
.zhdl .ljzc:hover a{
    color: #ff6702;
}
.zhdl .qtfs{
    width: 346px;
    height: 80px;

    border-top: 1px solid #b7b7b7;
    margin-top: 115px;
    position: relative;
}
.zhdl .qtfs .qtfsdl{
    position: absolute;
    top: -8px;
    left: 134px;
    color: #b7b7b7;
    background: #fff;
    font-size: 12px;
}
.zhdl .qtfs img{
    width: 30px;
    height: 30px;
    margin: 25px 17px 0 17px;
}
.zhdl .qtfs .imgz1{
    margin-left: 52px;
}
#ys {
    margin-top: 95px;
    height: 34px;
    text-align: center;
}

#ys a{
    font-size: 12px;
    color: #8a8a8a;
    line-height: 34px;
}
#ys span{
    font-size: 13px;
    color: #8a8a8a;
    line-height: 34px;
    margin: 0 14px 0 10px;
}

#ba {
    height: 32px;
    text-align: center;

}

#ba a{
    font-size: 12px;
    color: #8a8a8a;
    line-height: 32px;
}
#ba span{
    font-size: 13px;
    color: #8a8a8a;
    line-height: 32px;
}