body{
    background: #f9f9f9;
}

#ys,
#ba {
    width: 1130px;
    margin: 0 auto;
}

#main{
    width: 854px;
    height: 547px;
    margin: 120px auto 60px;

}
#main .logo{
    width: 854px;
    height: 84px;
    text-align: center;
}
#main .logo img{
    width: 49px;
    height: 48px;
}
#main .wz{
    width: 854px;
    height: 44px;
    text-align: center;
}
#main .wz h4{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}
#main .bg{
    width: 854px;
    height: 385px;
}
#main .bg>.bdw{
    width: 332px;
    height: 246px;
    padding: 30px 0;
    margin: 0 auto;
}
#main .bg>.tk{
    height: 39px;
    padding-top: 40px;
    text-align: center;
}
#main .bg>.tk>p{
    font-size: 12px;
    color: #9d9d9d;
}
#main .bg>.bdw h4{
    width: 332px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #333
}
#main .bg>.bdw input{
    width: 330px;
    height: 40px;
    border: 0;
    border: 1px solid #666;
    margin-bottom: 15px;
}

#main .bg>.bdw>button{
    margin-top: 25px;
    width: 332px;
    height: 42px;
    border: 0;
    background: #ff6700;;
}
#main .bg>.bdw>button a{
    display: block;
    color: #fff;
}
#main .bg>.bdw .gjdq1{
    font-size: 12px;
    margin-bottom: 5px;
}






#ys {
    margin-top: 95px;
    height: 34px;
    text-align: center;
}

#ys a{
    font-size: 12px;
    color: #8a8a8a;
    line-height: 34px;
}
#ys span{
    font-size: 13px;
    color: #8a8a8a;
    line-height: 34px;
    margin: 0 14px 0 10px;
}

#ba {
    height: 32px;
    text-align: center;

}

#ba a{
    font-size: 12px;
    color: #8a8a8a;
    line-height: 32px;
}
#ba span{
    font-size: 13px;
    color: #8a8a8a;
    line-height: 32px;
}